body{
    background-color:#4aaaa5;
    background-image: url("lilypads.png");
   
}
h1 {
  font-family: Georgia, 'Times New Roman', Times, serif; 
  color: #4aaaa5; 
  background-color: #777777;
  font-size: 38px;
  padding: 40;
  
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    color:#777777;
    font-size: 30px;
    float: left;
    position: fixed;
    right:-20px;
    top:0;
}

h3{
    font-family:Arial, Helvetica, sans-serif;
    color:#4aaaa5;
    font-size: 35px;
}
.Bio{
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    float:left;
    width:100%;
    font-size: 30px;

}

p{
    font-family: Arial, Helvetica, sans-serif;
    color:#777777;
}
form{
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;


}
input{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    height:40px;
    width:100%;
}
.Pictures{
    float: left;
    position: relative;

}
h5{
    color: black;
    padding: 40px;
}
h6{
    color:black;
    padding: 40px;
}
h7{
    color:black;
    padding:40px;
}

h8{
    color:black;
    padding:40px;

}
h9{
    color:black;
    padding:40px;
}
 