body{
    background-color:#4aaaa5;
    background-image: url("lilypads.png");
   
}
h1 {
  font-family: Georgia, 'Times New Roman', Times, serif; 
  color: #4aaaa5; 
  font-size: 38px;
  
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    color:#4aaaa5;
    font-size: 20px;
    position: absolute;
    right: 0;
    top:0;
}

h3{
    font-family:Arial, Helvetica, sans-serif;
    color:#4aaaa5;
    font-size: 35px;
}
.Bio{
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    float:left;
    width:100%;
    font-size: 30px;

}
img{
    float:left;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color:#777777;
}
p2{
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}
p3{
    font-family: Arial, Helvetica, sans-serif;
    color: #777777; 
}
form{
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;


}
input{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    height:40px;
    width:100%;
}


h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color:#4aaaa5;
}


h5{
    color: black;
    padding: 40px;
    z-index: 2;
}
h6{
    color:black;
    padding: 40px;
    z-index: 3;
}
h7{
    color:black;
    padding:40px;
    z-index:4;
}

h8{
    color:black;
    padding:40px;
    z-index: 5;

}
h9{
    color:black;
    padding:40px;
    z-index: 6;
}
 .ComicBook{
     position: relative;
     bottom: 30px;
     left: 30px;
     float: left;
 }
 .Pinball{
     position: relative;
     bottom: 30px;
     left: 60px;
     float: left;
 }
 .RockPaperScissors{
    position: relative;
     bottom: 30px;
     left: 90px;
     float: left;
 }
 .TriviaQuiz{
    position: relative;
    bottom: -100px;
    left: 30px;
    float: left;
 }
 .TicTacToe{
    position: relative;
    bottom: 100px;
    left: 30px;
    float: left;
 }
